
$trans-time:400ms;




.heart{
    position: absolute ;
    
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;

    
    right: 25px;
    bottom: 25px;

    z-index: 2;

    transform: scale(1.6);
   
   
    
        .fa-heart--red{
            display: flex;
            
            z-index: 200;
            color: transparent;
            
            
            
            
            transition: all $trans-time ease-in-out;

            opacity: 0!important;
            
            
        }
        .fa-heart--blc{

            transition: all $trans-time ease-in-out;
            position: absolute;    
            opacity: 1!important;
            
            
        }
        &:hover{
            .fa-heart{
                transition: all $trans-time ease-in-out;
            
                color: var(--primary-color);
                
                opacity: 1!important;
          
            }
        }
}    


        
    
        
    

                


