
$trans-time:400ms;




.heart{
    position: absolute ;
    height: 22px;
    width: 21px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;

    
    right: 25px;
    bottom: 25px;

    z-index: 2;

    transform: scale(1.6);
   
   
    
        .fa-heart--red{
            display: flex;
            height: 25px;
            width: 25px;
            z-index: 200;
            
            
            transition: all $trans-time ease-in-out;

            background-color: white;
            
            opacity: 0!important;
            &:hover{
                color: var(--primary-color);
                opacity: 1!important;
                border :none;
            }
        }
        .fa-heart--blc{

            background-color: white;
            
            
            
            transition: all $trans-time ease-in-out;
            position: absolute;    
            opacity: 1!important;
            background-color: transparent;
            &:hover{
                opacity: 0!important;
                border: none;
            }
        }
}    


        
    
        
    

                


