.menu__title{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 400px;
    align-items: center;
    .heart__size{
        position: absolute;
        right: 25px;
        bottom: 5px;
    }
  
}

.fonct-menu{
    background-color: var(--bg-color);
    

    position: relative;

    margin: 0px;
    

    width: 100%;

    z-index: 100;
    padding-top: 20px;
    gap:10px;

    
   
    .menu__txt--title{
        
        font-family: var(--font-title);
        font-size: 28px;
        font-weight: 400;
        
    }



    .EPD{
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: 20px;
        margin-bottom: 15px;
        gap: 15px;

        
        
        
        
        
        
            
        .menu__part{
            border-bottom: 3px solid var(--tertiary-color);
            width: 40px;
    
            font-size: 16px;
            font-weight: 300;
        }

        .EPD__thumb{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;
            background-color: white;
            position: relative;
    
            height: 69px;
            width: 96%;
            padding: 0px;
            margin-top: 15px;
            
            
            border-radius: 15px;
            
            
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;

            

    
            
    
            .EPD__thumb--text{
                display: flex;
                flex-direction: column; 
                    
                width: 100%;
                margin: 12px;
                padding-left: 6px;

                text-wrap: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
                
                
                .name{
                    font-weight: 500;
                    font-size: 18px;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-bottom: 8px;
                }
                .description{
                    font-size: 15px;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
    
            }
            .EPD__thumb--price {
                font-weight: 400;
                padding-top: 40px;
                margin-right: 8px;

                
            }
        }
    }

   
    
}
/**animation**/

main{
    :nth-child(2){
        animation-duration: 0.5s;
        animation-name: appar ;
    }
    :nth-child(3){
        animation-duration: 1s;
        animation-name: appar ;
    }
    :nth-child(4){
        animation-duration: 1.5s;
        animation-name: appar ;
    }

    
}

.EPD__thumb{
    .fa-circle-check {
        
        display:flex;
       

        color: white;
        width: 0px;
        height: 100%;

        align-items: center;
        justify-content: center;
        
                
        
        
        opacity: 0 !important;
        
    }
   

    &:hover{
        .EPD__thumb--price{
           
            animation: translate 1s forwards;
            

        }
            
        
        .fa-circle-check {     
            transition-duration: 1s ;
            opacity: 1!important;
           
            background-color: #99E2D0;
            width: 70px;
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
           
            

        }
    }
   

}
 /**keyframe**/
 
    
 
@keyframes translate {
            
    from {
        
        width: 27px;
     
    }
    
  
    to {
        
        width: 70px;
    }
}
@keyframes appar {
        
    from {
      opacity: 0;
     
    }
    70%{
        opacity: 0.2;
    }
    90%{
        opacity: 0.7;
    }
  
    to {
      opacity: 1;
    }
}

/**mediaqueries**/
@media (min-width: 710px) {
    .fonct-menu{
        max-width: 1055px;
        
        gap: 40px;

        margin-top: 30px;

        margin: auto;

        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        

        .EPD{
            width: 690px;
        }
        

    }

}

